name: dbt-parse
on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - run: pip install dbt-core dbt-sqlserver dbt-duckdb sqlfluff sqlfluff-templater-dbt
      - run: dbt deps --profiles-dir ./.dbt
      - run: dbt parse --profiles-dir ./.dbt
      - run: sqlfluff lint models snapshots tests macros
