name: dbt-parse
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - run: pip install dbt-core dbt-sqlserver sqlfluff
      - run: dbt deps
      - run: dbt parse
      - run: sqlfluff lint .
